/* wrapper to center navbar */
.nav-wrapper {
  position: fixed;
  top: 20px;
  margin-left: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

/* actual navbar */
.navbar {
  width: 90%;
  max-width: 1100px;
  padding: 10px 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  /* cleaner look */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 999px;
  /* pill shape */

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* left links */
.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.85;
}

.nav-links a:hover {
  opacity: 1;
}

.github-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.08);
  padding: 10px 18px;
  border-radius: 50px;
  /* Rounded pill */
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.github-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 6px;
  border-radius: 50%;
}

.github-btn:hover {
  transform: translateY(-2px);
  background: #121212;
}

.github-btn:active {
  transform: scale(0.97);
}